#title {
    color: aqua;
}

.blue-title {
    color: blue;
    font-family: 'roboto', sans-serif;
}

h2 {
    color: rgb(255, 0, 0);
    font-size: 50px;
    text-decoration: line-through;
}

.green-title {
    color: green;
    font-size: 30px;
    background-color: blueviolet;
    text-align: right;
}

main {
    background-color: yellow;
    border: solid brown 10px;
}

.black-section{
    background-color: black;
}

header {
    background-image: url(../img/newyork1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}